// Bootstrap-like grid system

@mixin col($number) {
  width: (8.33333333% * $number); // 100% / 12 = 8.33%
  /* stylelint-disable-next-line declaration-no-important */
  padding-right: 8px !important;
  /* stylelint-disable-next-line declaration-no-important */
  padding-left: 8px !important;
}

.col-md-1 {
  @include col(1);
}

.col-md-2 {
  @include col(2);
}

.col-md-6 {
  @include col(6);
}
